
body{
  background:url(./bgr.jpg) no-repeat;
  background-position:0pt 28pt;
  margin:0;
  padding:0;
  background-size:100% auto;
  background-color: #fc7eb4;
}

/*.box{
//  border : solid 1px Black;
  position: absolute;
  top:10px;
  right:14px;
  width:332px;
  height:294px;
}*/

.frame{
//  border : solid 1px Black;
  background:url(./img/Frame_r.png) no-repeat;
  position: absolute;
  top:10px;
  right:14px;
  width:311px;
  height:53px;
}
.frameMargin{
  position: relative;
  top:5px;
  left:8px;
  width:295px;
  height:28px;
  overflow:hidden;
}
.disp{
  display:inline-block;
  white-space:nowrap;
  float:right;
}
.dispFont{
  font-size:28px;
  color:#ff00ff;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.dispFontSmall{
  font-size:18px;
  color:#ff00ff;
  font-family: "setofont","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif ;
  letter-spacing: -2px;

}

.inpPadding{
  padding:0px 4px 1px 0px;
}

/* ボタン関係 */
#inpFrom{
  margin:0;
  padding:0;
  position: absolute;
//  left:0px;
  right:3%;
  top:54%;
  width:162px;
  height:132px;
}


/* ボタン背景 */
.btnBg {
  background:url(./img/Button-Pink.svg) no-repeat;
}


/* ボタン配置 */
.btnPos7    { position: absolute; top:  0px; left:  0px;}
.btnPos8    { position: absolute; top:  0px; left: 33px;}
.btnPos9    { position: absolute; top:  0px; left: 66px;}
.btnPosDiv  { position: absolute; top:  0px; left:99px;}
.btnPosCl   { position: absolute; top:  0px; left:132px;}

.btnPos4    { position: absolute; top: 33px; left:  0px;}
.btnPos5    { position: absolute; top: 33px; left: 33px;}
.btnPos6    { position: absolute; top: 33px; left: 66px;}
.btnPosMul  { position: absolute; top: 33px; left:99px;}
.btnPosPhL  { position: absolute; top: 33px; left:132px;}

.btnPos1    { position: absolute; top: 66px; left:  0px;}
.btnPos2    { position: absolute; top: 66px; left: 33px;}
.btnPos3    { position: absolute; top: 66px; left: 66px;}
.btnPosSub  { position: absolute; top: 66px; left:99px;}
.btnPosPhR  { position: absolute; top: 66px; left:132px;}

.btnPos0    { position: absolute; top:99px; left:  0px;}
.btnPosPo   { position: absolute; top:99px; left: 33px;}
.btnPosBs   { position: absolute; top:99px; left: 66px;}
.btnPosPlus { position: absolute; top:99px; left:99px;}
.btnPosEq   { position: absolute; top:99px; left:132px;}

