
body{
  background:url(./bgr.jpg) no-repeat;
  background-position:0pt 28pt;
  margin:0;
  padding:0;
  -moz-background-size:cover;
  background-size:cover;
  background-color: #fc7eb4;
}

.box{
//  border : solid 1px Black;
  position: absolute;
  top:10px;
  right:14px;
  width:332px;
  height:294px;
}

.frame{
//  border : solid 1px Black;
  background:url(./img/Frame_r.png) no-repeat;
  position: absolute;
  top:0px;
  right:0px;
  width:311px;
  height:53px;
}
.frameMargin{
//  border : solid 1px blue;
  position: relative;
  top:2px;
  left:8px;
  width:295px;
  height:32px;
  overflow:hidden;
}
.disp{
  display:inline-block;
  white-space:nowrap;
  float:right;
}
.dispFont{
  font-size:32px;
  color:#ff00ff;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.dispFontSmall{
  font-size:18px;
  color:#ff00ff;
  font-family: "setofont","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif ;
  letter-spacing: -2px;

}
.inpFrom{
//  border : solid 1px blue;
  margin:0;
  padding:0;
  position: absolute;
//  left:0px;
  right:0px;
  bottom:0px;
}

.inpPadding{
  padding:0px 4px 1px 0px;
}
